<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
</head>
<body>                                                
        <section class="form-login">
            <h2>Iniciar sesión</h2>
            <img class="img" src="../../../assets/pics/logo-didactic.png" alt="logo-didactic" width="150px" height="150px">  
            <label for="Usuario" class="login-t">Usuario</label>
            <input class=controls type="text" id="usuario"  class="form-control"> 
            <label for="Contraseña" class="login-t">Contraseña</label>
            <input class=controls2 type="password"  id="contraseña" class="form-control">                                     
            <p id="olv"><a href="#">¿Olvidaste la contraseña?</a>
            <p id="re"><input type="checkbox"> Recordarme en este equipo  </p>
            <a href="../registro"><p id="reg">¿No tienes cuenta? Registrate</p></a>
            <a href="../home"><input type="submit" class="btn" id="boton" value="Ingresar"></a>                           
        </section>                                                
</body>
</html>