<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.component.css">

    <title>Document</title>
</head>
<body>                                                
                                <section class = "form-register">
                                    <h2>Crear Cuenta</h2>  
                                    <select class=controls  name="Tipo de usuario" >
                                        <option value="opcion" selected>Seleccione Opción</option>
                                        <option value="administrador">Administrador</option>
                                        <option value="profesor">Porfesor(a)</option>
                                        <option value="estudiante">Estudiante</option>
                                      </select>
                                <input class=controls type="text"   id="control" placeholder="Numero de Control" >     
                                <input class=controls2 type="text"  id="name" placeholder="Nombre(s)">
                                <input class=controls2 type="text"  id="lastname" placeholder="Apellido(s)">
                                <input class=controls type="text"  id="nameusr" placeholder="Nombre de usuario">
                                <input class=controls type="email"  id="email" placeholder="E-mail">
                                <input class=controls type="tel"id="phone" placeholder="Teléfono">
                                <input class=controls type="date" id="dateb" placeholder="Fecha de nacimiento">
                               <input class=controls2 type="password"  id="contrasena" placeholder="Contraseña">
                               <input class=controls2 type="password" id="confi-contrasena" placeholder="Confirmar contraseña">   
                               <a href="../home"><input type="submit" class="btn" id="btn" value="Crear cuenta"></a>
                             <a href="../login"><p>¿Ya tienes una cuenta?  </p></a>    
                            </section>                       
                             
</body>
</html>


